
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.appContainer {
    float: left;
    padding: 8px;
    margin: 10px;
    max-width: 30%;
    border: 1px solid black;
    box-shadow: 1px 1px 5px darkslategray;
    border-radius: 2px;
}

.menuTitle {
    padding-bottom: 20px;
}

.menuItem:last-child {
    border-bottom: 0px;
}

.menuItem span {
    font-size: small;
    display: block;
}

.menuItem span:last-child {
    padding-bottom: 5px;
}

.title_fi {
    font-size: medium !important;
}

.categoryName {
    font-weight: bold;
    border-top: 1px solid lightgray;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn {
    font-size: xx-large;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 2px;
}

.active {
    text-decoration-style: solid;
    text-decoration: underline lightseagreen;
}

.btn:hover {
    background-color: #dfdfdf;
}

a, a:visited {
    color: black;
}

.areaTitle {
    text-align: center;
    padding-bottom: 3px;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
}
